# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Uploaded Files
uploads/

# Model Files
models/*.pth
models/*.pt

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db